table.wp-list-table #post-body-content {
	margin: 0;
}

@media screen and ( max-width: 782px ) {
	table.wp-list-table .column-activity_type {
		display: none !important;
		visibility: hidden;
		height: 0;
		width: 0;
		position: absolute;
		margin: 0;
		padding: 0;
	}
}

@media screen and ( min-width: 782px ) {
	table.wp-list-table th.column-activity_type {
		width: 60px;
	}

	table.wp-list-table th.column-activity_session,
	table.wp-list-table th.column-activity_when {
		width: 18%;
	}
}

table.wp-list-table .column-activity_username img {
	margin-right: 10px;
	height: 32px;
	width: 32px;
}
table.wp-list-table .column-activity_session abbr {
	cursor: pointer;
	border-bottom: 1px dotted #aaa;
}
