body.post-type-activity #post-body-content {
	margin: 0;
}

body.post-type-activity .column-type {
	width: 60px;
}

body.post-type-activity .column-session,
body.post-type-activity .column-when {
	width: 18%;
}

body.post-type-activity .column-session abbr {
	cursor: pointer;
	border-bottom: 1px dotted #aaa;
}