body.post-type-activity #post-body-content {
	margin: 0;
}

.column-type {
	width: 60px;
}

.column-session,
.column-when {
	width: 18%;
}

.column-session abbr {
	cursor: pointer;
	border-bottom: 1px dotted #aaa;
}